body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header{
    background-color: #053F5C;
    height: 10vh;
   
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin: 0;
    padding: 0;
    height: inherit;
    align-content: center;
    justify-items: center;
    
}
li{
    display: inline;
    padding-right: 2vw;
    
}
a{
    text-decoration: none;
    color: #9FE7F5;
}
main{
    flex-grow:1 ;
    display: flex;
    justify-content: space-between;
}
.left,.right{
    width: 10vw;
    background-color: #F27F0C;
    height:80vh;
}
.btn{
    align-self: center;
    padding: 1rem 2rem;
    font-size: 1em;
    background-color: #9FE7F5;
    border: 1px solid #429EBD;
    color: #053F5C;
}
footer{
    height: 10vh;
    background-color: #053F5C;
    transform: translateY(-100vh);
}
